name: Daily Scraper

on:
  schedule:
    - cron: '0 15 * * *'   # Runs daily at 09:00 UTC
  workflow_dispatch:       # Allows manual triggering from GitHub UI

jobs:
  run-r-script:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Install base dependencies
        run: Rscript -e 'install.packages(c("tidyverse", "httr", "jsonlite", "assertthat", "fs", "lubridate", "xml2", "stringr", "readr"), repos = "https://cloud.r-project.org")'

      - name: Install rvest
        run: Rscript -e 'install.packages("rvest", repos = "https://cloud.r-project.org")'

      - name: Check installed packages
        run: Rscript -e 'print(installed.packages()[, "Package"])'

      - name: Run daily scraper
        run: Rscript code/daily_scraper.R
